<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="row">
        <div class="d-flex flex-wrap">
            
            
            <div *ngFor="let card of cards">
                <div class="col col-6 card collection-cards" style="width: 18rem; ">
                  <img [src]="'../../../assets/'+card.source" class="card-img-top" style="height: 18rem; width: 18rem;">

                    <div class="card-body">
                      <h5 class="card-title">{{card.title}}</h5>
                      <p class="card-text">{{ card.description }}</p>
                      <button (click)="addItem(card.title, card.collectionid)" class="btn btni btn-primary">Add Item <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                      </svg> </button>
                      <button (click)="DeleteCollection(card.collectionid)" class="btn btn-danger m-3">Delete  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                      </svg>
                     
                      </button>
                    </div>
                </div>
            </div>

            <div class="col col-6 card collection-cards" style="width: 18rem;">
              <img src="../../../assets/clothes.jpeg" class="card-img-top" width="100px" height="100px" style="height: 18rem; width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Add your collection</h5>
                <p class="card-text">Click here to add your collection</p>
                <button (click)="createCollection()" class="btn btni btn-primary">Add collection <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg> </button>
              </div>
          </div>
        </div>
        
        
    </div>
</body>
</html>
