nav{
    text-align: center;
}

.nav-display {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.btni {
    background-color: #4CAF50;
    border-color: #4CAF50;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

.btni:hover {
    background-color: #3e8e41;
    color: white;
}