<form [formGroup]="form" class="otp-form">
    <div>
        <label for="email">Enter your email id</label>
        <input type="email" id="email" name="email" formControlName="email" required>
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="errors">
            This field is required.
        </div>
        <button type="button" [disabled]="!form.get('email')?.valid" (click)="sendOTP()">Send OTP</button>
    </div>
    <br>
    <div *ngIf="emailFilled">
        <label for="otp">Enter OTP</label>
        <input [(ngModel)]="inputOTP" type="text" id="otp" name="otp" formControlName="otp" required>
        <div *ngIf="form.get('otp')?.invalid && form.get('otp')?.touched" class="errors">
            This field is required.
        </div>
        <button type="button" [disabled]="!form.get('otp')?.valid" (click)="checkOTP()">Verify OTP</button>
    </div>

    <br>
    <div *ngIf="otpVerified">
        <div>
            <label for="password">Enter your new password</label>
            <input #pw type="password" name="password" id="password" formControlName="password" required>
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="errors">
                This field is required.
            </div>
        </div>


        <div>
            <label for="confirmPassword">Confirm your password</label>
            <input #cpw (keyup)="MatchPassword(pw.value, cpw.value)" type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required>
            <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="errors">
                This field is required.
            </div>


            <div *ngIf="!matchPassword && passwordFilled" class="errors">
                Password doesn't match
            </div>
           
        </div>


        <button type="button" [disabled]="!form.valid" (click)="changePassword()">Change Password</button>
    </div>
</form>
